.breif_status{margin-bottom:14px;}
.breif_status ul li,.monthly_details ul li{color:#6f7c82;font-size:16px;text-align:center;}
.breif_status ul li span,.monthly_details ul li span{color:#435a70;font-size:20px;font-family: 'proxima_nova_ltbold';margin-left:10px;}
.breif_status ul li span.day_off_count{color:#25acd3;}
.breif_status ul li span.absence_count{color:#f75b49;}

.table_thm{width:76px;}
.table_thm .round_thm{width:48px;height:48px;overflow:hidden;}
.time_att_table .table-action{width:55px;}

.filter_list ul{margin-bottom:0;}
.filter_length{width:40%;padding-right:15px;}
.filter_list ul li{position:relative;line-height:30px;margin:0px -15px;}
.filter_list ul li,.filter_list ul li a{color:#6f7c82;font-size:15px;display:block;}
.filter_list ul li a{padding:10px;}
.filter_list ul li a:hover{background:#fafafc;}
.search_result{border-radius:4px;border:1px solid #ddd;padding:4px 15px 5px 22px;position:relative;}
.search_result .form-control{border:none;box-shadow:none;}
.filter_list .btn-orange{font-family: 'OpenSans-Semibold';padding:12px 36px;}
.emp_thm{margin-right:15px;width:30px;height:30px;line-height:0px;}
.search_emp_ico{display:block;position:absolute;left:10px;top:14px;background-position:-1px -21px;width:16px;height:16px;}
.time_att_tabs {background: #fff none repeat scroll 0 0;padding: 0px 10px 0px 20px;margin:0;}
.time_att_tabs li{margin-right:40px;}
.time_att_tabs li a{color:#6f7c82;font-family: 'OpenSans-Regular';font-weight:normal;letter-spacing:1px;padding:15px 0 15px;display:inline-block;border-bottom:4px solid #fff; font-size: 15px;}
.time_att_tabs li.active a,.time_att_tabs li:hover a,.time_att_tabs li a.active{border-bottom-color:#f75b49; color: #2b3a49;}

.monthly_tabs{margin-bottom:0px;}
.monthly_tabs li a{padding-bottom:10px;}

.monthly_details ul li{margin-left:50px;}
.monthly_details {border:1px solid #ddd;border-width:1px 0 1px 0;background:#fafbfc;padding:20px 30px;margin:0 -25px;}
.monthly_details ul{margin-bottom:0px;}
.monthly_details ul li span.over_time{color:#74c21e;}
.monthly_details ul li span.delays{color:#f75b49;}
.calender_custom{margin-top:32px;}
.fc-header-right .fc-button {display:none;}
.fc-header-right .fc-button.fc-button-next{display:inline-block;}
.department{margin-bottom:8px;}
.department,.work_location{font-size:14px;color:#6f7c82;}


/* Payroll Steps */
.payroll_next {padding:25px 0px;border-top:1px solid #dbdbdb;}
.payroll_next .step_confirm.pull-right{margin-top:0px;}
.payroll_next .btn-orange,.bottom_next .btn-orange{padding:11px 12px;font-size:16px;margin-left:10px;}
.payroll_next .form-control{width:300px;font-size:16px;color:#435a70;box-shadow:none;height:45px;background:#fff url(../images/search_ico.png) 10px 14px no-repeat;padding-left:33px;border-color:#e5e5e5;}
.load_more{text-align:center;padding:25px 0 5px;border-top:1px solid #e5e5e5;}
.load_more a{color:#bdc9d6;border:1px solid #bdc9d6;border-radius:4px;display:inline-block;padding:16px 15px;font-size:16px;text-transform:uppercase;min-width:270px;transition:all ease .5s;}
.load_more a:hover{color:#F7412D;border-color:#F7412D;}
.table-action {width: 112px;}
.table_title{font-family: 'OpenSans-Semibold';}
.payroll_entries{width:200px;}
.payroll_entries input[type="text"],.edit_form_field2{position:relative;height:25px;width:67px;border:1px solid #e5e5e5;border-radius:3px;padding:5px;font-size:13px;color:#6f7c82;line-height:16px;}
.edit_form_field2{width:92px;height:34px;padding:5px 10px;}
.edit_form:after{content:url(../images/delete.png);width:8px;height:8px;margin-left:6px;cursor:pointer;}
.notes{width:300px;}
.edit_form_field{border:1px solid #e5e5e5;height:61px;width:261px;padding:10px;}
/* == Payroll Steps */